<!-- ##### Header Area Start ##### -->
<% include partials/header %>
<!-- ##### Header Area End ##### -->

<!-- ##### banner_area Area Start ##### -->
<section class="banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div
      class="overlay bg-parallax"
      data-stellar-ratio="0.9"
      data-stellar-vertical-offset="0"
      data-background=""
      style="transform: translateY(-0.896462px);"
    ></div>
    <div class="container">
      <div class="banner_content text-center">
        <h2>Nubia</h2>
      </div>
    </div>
  </div>
</section>
<!-- ##### banner_area Area End ##### -->

<!-- ##### Shop Area Start ##### -->
<section class="shop-page section-padding-0-100">
  <div class="container">
    <div class="row">
      <!-- Shop Sorting Data -->
      <div class="col-12">
        <div
          class="shop-sorting-data d-flex flex-wrap align-items-center justify-content-between"
        >
          <!-- Shop Page Count -->
          <div class="shop-page-count"></div>
          <!-- Search by Terms -->
          <div class="search_by_terms">
            <form action="#" method="post" class="form-inline">
              <select class="custom-select widget-title">
                <option selected>Sort by Newest</option>
                <option value="1">Sort by Ratings</option>
              </select>
              <select class="custom-select widget-title">
                <option selected>Show: All</option>
                <option value="1">12</option>
                <option value="2">18</option>
                <option value="3">24</option>
              </select>
            </form>
          </div>
        </div>
      </div>
    </div>


      <!-- All Products Area -->
      <div class="col-12 col-md-12 col-lg-12">
        <div class="shop-products-area">
          <div class="row" id="handle-all-prod">
              <% bestSells.forEach(function(inf){ %>
                <div class="product-container"  >
                  <div class="pic-cont">
                    <img src="<%= inf.prodPic %>" alt="">
                  </div>
                  <div class="tooltip-download">
                    <p class="prod-title"><%= inf.prodName %></p>
                    <div class="download">
                      <span class="price">$<%= inf.prodPrice %></span>
                      <span class="script-btn-black">
                        <span>Download</span> 
                      </span>
                    </div>
                    <span><%= inf.prodDesc %>...</span>
                  </div>
                </div>
                  <!-- <a href="http://127.0.0.1:2000/nubia/products/product_id=<%= inf.id %>?name=<%= inf.prodName %>"> -->
                              
              <% }) %>
          </div>
          <div class="download-payment">
            <div class="container">
              <div class="col-6" >
                <div class="possible-due">
                  <h4>FREE Creative Commons License</h4>
                  <span>You can use this this Product for free in your projects testing or 
                    multimedia like (Facebook, Youtube and Personal Logos)
                    as long as you credit Scripthouse.com (in the description for a video). </span>
                    <a href="#"><span class="script-btn-black" onclick="alert('hello')" style="position:absolute; bottom:10px; left:35%;">Download Now</span></a>
                </div>
              </div><div class="col-6" style="border-left: 1px solid rgba(172, 171, 171, 0.863)">
                  <h4>Pro License for $55</h4>
                    <span>You can pay the pro license then you own the product, you can use anywhere at all.</span>
                    <a href="#"><span class="script-btn-black" onclick="alert('hello')" style="background: rgb(43, 143, 143);position:absolute; bottom:10px; left:35%;">Purchase Now</span></a>
                </div>

            </div>
          </div>
          <!-- Pagination -->
          <nav aria-label="Page navigation">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item">
                <a class="page-link" href="#"
                  ><i class="fa fa-angle-right"></i
                ></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Shop Area End ##### -->
<script src="http://localhost:2000/js/nubia-prod.js" defer></script>
<!-- ##### Footer Area Start ##### -->
<% include partials/footer %>
<!-- ##### Footer Area End ##### -->
