<!-- ##### Header Area Start ##### -->
<% include partials/header %>
<!-- ##### Header Area End ##### -->

<!-- ##### banner_area Area Start ##### -->
<section class="banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div
      class="overlay bg-parallax"
      data-stellar-ratio="0.9"
      data-stellar-vertical-offset="0"
      data-background=""
      style="transform: translateY(-0.896462px);"
    ></div>
    <div class="container">
      <div class="banner_content text-center">
        <h2>Nubia</h2>
      </div>
    </div>
  </div>
</section>
<!-- ##### banner_area Area End ##### -->

<!-- ##### Shop Area Start ##### -->
<section class="shop-page section-padding-0-100">
  <div class="container">
    <div class="row">
      <!-- Shop Sorting Data -->
      <div class="col-12">
        <div
          class="shop-sorting-data d-flex flex-wrap align-items-center justify-content-between"
        >
          <!-- Shop Page Count -->
          <div class="shop-page-count"></div>
          <!-- Search by Terms -->
          <div class="search_by_terms">
            <form action="#" method="post" class="form-inline">
              <select class="custom-select widget-title">
                <option selected>Sort by Newest</option>
                <option value="1">Sort by Ratings</option>
              </select>
              <select class="custom-select widget-title">
                <option selected>Show: All</option>
                <option value="1">12</option>
                <option value="2">18</option>
                <option value="3">24</option>
              </select>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Sidebar Area -->
      <div class="col-12 col-md-4 col-lg-3">
        <div class="shop-sidebar-area">
          <!-- Shop Widget -->
          <div class="shop-widget price mb-50">
            <h4 class="widget-title">Prices</h4>
            <div class="widget-desc">
              <div class="slider-range">
                <div
                  data-min="8"
                  data-max="30"
                  data-unit="$"
                  class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
                  data-value-min="8"
                  data-value-max="30"
                  data-label-result="Price:"
                >
                  <div
                    class="ui-slider-range ui-widget-header ui-corner-all"
                  ></div>
                  <span
                    class="ui-slider-handle ui-state-default ui-corner-all first-handle"
                    tabindex="0"
                  ></span>
                  <span
                    class="ui-slider-handle ui-state-default ui-corner-all"
                    tabindex="0"
                  ></span>
                </div>
                <div class="range-price">Price: $8 - $30</div>
              </div>
            </div>
          </div>

          <!-- Shop Widget -->
          <div class="shop-widget catagory mb-50">
            <h4 class="widget-title">Categories</h4>
            <div class="widget-desc">
              <!-- Single Checkbox -->
              <div
                class="custom-control custom-checkbox d-flex align-items-center mb-2"
              >
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customCheck1"
                />

                <label class="custom-control-label" for="customCheck1"
                  >Requested <span class="text-muted"></span
                ></label>
              </div>
              <!-- Single Checkbox -->
              <div
                class="custom-control custom-checkbox d-flex align-items-center mb-2"
              >
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customCheck2"
                />
                <label class="custom-control-label" for="customCheck2"
                  >New Brand Logos <span class="text-muted"></span
                ></label>
              </div>
              <!-- Single Checkbox -->
              <div
                class="custom-control custom-checkbox d-flex align-items-center mb-2"
              >
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customCheck3"
                />
                <label class="custom-control-label" for="customCheck3"
                  >New Brand Logos <span class="text-muted"></span
                ></label>
              </div>
              <!-- Single Checkbox -->
              <div
                class="custom-control custom-checkbox d-flex align-items-center mb-2"
              >
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customCheck4"
                />
                <label class="custom-control-label" for="customCheck4"
                  >New Brand Logos <span class="text-muted"></span
                ></label>
              </div>
              <!-- Single Checkbox -->
              <div
                class="custom-control custom-checkbox d-flex align-items-center mb-2"
              >
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customCheck5"
                />
                <label class="custom-control-label" for="customCheck5"
                  >New Brand Logos <span class="text-muted"></span
                ></label>
              </div>
            </div>
          </div>

          <!-- Shop Widget -->

          <!-- Shop Widget -->
          <div class="shop-widget best-seller mb-50">
            <h4 class="widget-title">Latest Products</h4>
            <div class="widget-desc">
              <!-- Single Best Seller Products -->
              <% bestSells.forEach(function(inf){ %>

              <div class="single-best-seller-product d-flex align-items-center">
                <div class="product-thumbnail">
                  <a
                    href="http://127.0.0.1:2000/nubia/products/product_number=<%=inf._id%>"
                    ><img src="<%= inf.prodPic%>" alt=""
                  /></a>
                </div>
                <div class="product-info">
                  <a
                    href="http://127.0.0.1:2000/nubia/products/product_number=<%=inf._id%>"
                    ><%= inf.prodName %></a
                  >
                  <p>$<%= inf.prodPrice %></p>
                  <div class="ratings">
                    <!-- <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i> -->
                  </div>
                </div>
              </div>

              <% }) %>
            </div>
          </div>
        </div>
      </div>

      <!-- All Products Area -->
      <div class="col-12 col-md-8 col-lg-9">
        <div class="shop-products-area">
          <div class="row" id="handle-all-prod"></div>

          <!-- Pagination -->
          <nav aria-label="Page navigation">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item">
                <a class="page-link" href="#"
                  ><i class="fa fa-angle-right"></i
                ></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Shop Area End ##### -->
<script src="http://localhost:2000/js/nubia-prod.js" defer></script>
<!-- ##### Footer Area Start ##### -->
<% include partials/footer %>
<!-- ##### Footer Area End ##### -->
