<!-- ##### Header Area Start ##### -->
<% include partials/header %>
<!-- ##### Header Area End ##### -->

<!-- ##### banner_area Area Start ##### -->
<section class="banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div
      class="overlay bg-parallax"
      data-stellar-ratio="0.9"
      data-stellar-vertical-offset="0"
      data-background=""
      style="transform: translateY(-0.896462px);"
    ></div>
    <div class="container">
      <div class="banner_content text-center">
        <h2>Nubia</h2>
      </div>
    </div>
  </div>
</section>
<!-- ##### banner_area Area End ##### -->

<!-- ##### Shop Area Start ##### -->
<section class="shop-page section-padding-0-100">
  <div class="container">
    <div class="row">
      <!-- Shop Sorting Data -->
      <div class="col-12">
        <div
          class="shop-sorting-data d-flex flex-wrap align-items-center justify-content-between"
        >
          <!-- Shop Page Count -->
          <div class="shop-page-count"></div>
          <!-- Search by Terms -->
          <div class="search_by_terms">
            <form action="#" method="post" class="form-inline">
              <select class="custom-select widget-title">
                <option selected>Sort by Newest</option>
                <option value="1">Sort by Ratings</option>
              </select>
              <select class="custom-select widget-title">
                <option selected>Show: All</option>
                <option value="1">12</option>
                <option value="2">18</option>
                <option value="3">24</option>
              </select>
            </form>
          </div>
        </div>
      </div>
    </div>


      <!-- All Products Area -->
      <div class="col-12 col-md-12 col-lg-12">
        <div class="shop-products-area">
          <div class="row" id="handle-all-prod" style="margin-left:40px">
              <% bestSells.forEach(function(inf){ %>
                <div class="product-container"  >
                  <div class="pic-cont">
                    <a href="http://127.0.0.1:2000/nubia/products/product_id=<%= inf.id %>"><img src="<%= inf.prodPic %>" alt=""></a>
                  </div>
                  <div class="tooltip-download">
                    <p class="prod-title"><strong><%= inf.prodName %></strong></p>
                    <div class="download">
                      
                      
                        <% if(inf.prodPrice === 0) {%>
                          <span class="price"><strike>$<%= inf.prodPrice %>.00</strike> <span style="font-size:10px;">Free</span></span>
                          <a href="<%= inf.prodPic %>" download> 
                            <span class="script-btn-black" style="margin-left:-5px">
                              <span>Download</span>
                            </span>
                          </a>
                        <% }else{ %>
                          <span class="price"> $<%= inf.prodPrice %>.00</span>
                          <a href="http://127.0.0.1:2000/checkout/product_id=<%= inf._id %>?product_name=<%= inf.prodName %>"> 
                              <span class="script-btn-black" style="background:rgb(63, 161, 145)">
                                <span>Purchase</span>
                              </span>
                            </a>
                        <% } %>
                        
                      
                    </div>
                    <span style="font-size:12px"><%= inf.prodDesc %>...</span>
                  </div>
                </div>
                  <!-- <a href="http://127.0.0.1:2000/nubia/products/product_id=<%= inf.id %>?name=<%= inf.prodName %>"> -->          
              <% }) %>
          </div>
          
          <!-- Pagination -->
          <nav aria-label="Page navigation">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item">
                <a class="page-link" href="#"
                  ><i class="fa fa-angle-right"></i
                ></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Shop Area End ##### -->
<script src="http://localhost:2000/js/nubia-prod.js" defer></script>
<!-- ##### Footer Area Start ##### -->
<% include partials/footer %>
<!-- ##### Footer Area End ##### -->
